# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*$py.class

# Python caches
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# -----------------------
# Virtual environments
# -----------------------
venv/
pmt_ai_env/
.env

# -----------------------
# Environment variables
# -----------------------
.env.*
!.env.example

# -----------------------
# Database
# -----------------------
*.db
*.sqlite3

# -----------------------
# Node / Next.js
# -----------------------
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# IDE / Editor
# -----------------------
.vscode/
.idea/

# -----------------------
# Build / Dist
# -----------------------
build/
dist/
*.egg-info/
.eggs/